@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #ff7f00, #000000);
}

html, body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}